{% extends 'DevHireBot/base.html' %}
{% load static %}

{% block body %}
  <div class="container-fluid dd1 flex-column py-3 px-2 mt-5 mb-3">
    <div class="d-flex align-items-center justify-content-center flex-column col-12 p-3 mt-5">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div id="loading_text" class="mt-4 fs-4">Extracting candidate's education details...</div>
      <script>
        const loadingText = document.getElementById("loading_text");
        const extractionSteps = [
        "Analyzing work experience...",
        "Processing project information...",
        "Identifying known programming languages...",
        "Detecting candidate's interests...",
        "Evaluating technical skills...",
        "Verifying professional certifications...",
        "Checking for awards and achievements...",
        ];

        let stepIndex = 0;

        setInterval(() => {
        loadingText.textContent = extractionSteps[stepIndex];
        stepIndex = (stepIndex + 1) % extractionSteps.length;
        }, 2000); // Change content every 2 seconds
      </script>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
        // Replace 'YOUR_ENDPOINT_URL' with the actual URL for the API endpoint
        let endpointUrl = '{% url "DevHireBot:initiate_resume_parsing" %}';
        
        console.log("Start");
        
        fetch(endpointUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                let newPage = '{% url "DevHireBot:interview_bot" %}';
                window.location.href = newPage;
            })
            .catch(error => {
                console.error("Fetch error:", error);
            });
    });
  </script>
{% endblock %}
