/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom Fonts */
@font-face {
    font-family: 'Plutur';
    src: url('/static/DevHireBot/fonts/Plutur.ttf') format('truetype');
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
}

.navbar-brand,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: white !important;
}

.nav-link {
    color: lightgray;
}

.navbar-toggler {
    color: #692ED0;
}

.navbar-toggler i {
    color: white;
    font-size: 1.5em;
}


.bg-body-tertiary {
    background-color: transparent !important;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 0.4rem;
    height: 1px;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: #393939;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4f4f4f;
}

.navbar-brand {
    font-family: 'Plutur', sans-serif;
}

.dark-hf {
    background-color: #181818 !important;
    color: white !important;
}

.dark-background {
    background-color: #121212 !important;
    color: white !important;
}

.body-d {
    min-height: 80vh;
}

/* INDEX */
.dd1 {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel {
    height: max-content;
}

.right-panel {
    height: 25em;
    position: relative;
}

.btn1 {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border: 2px solid #692ED0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.btn2 {
    background-color: #692ED0;
    border: none;
    outline: none;
    color: white;
}

.btn1:hover,
.btn2:hover {
    background-color: #692ED0;
}

.btn1:active,
.btn2:active {
    background-color: #692ed0b0;
}

.link1 {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 0.375em !important;
    text-decoration-color: #692ED0;
}

.input-d {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
}

.input-d input {
    height: 2.5rem;
}

.hidelogo {
    position: absolute;
    width: 10rem;
    background-color: #121212;
    height: 4rem;
    bottom: 0px;
    right: 0;
    z-index: 100;
}

table {
    --bs-table-color: white !important;
    --bs-table-bg: transparent !important;
}

.UploadResume {
    display: flex;
    width: 15rem;
    background-color: transparent;
    color: white;
    border: 2px solid #692ED0;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 3.5rem;
}

.UploadResume:hover {
    background-color: #692ED0;
}

/* Hide the input element visually */
.UploadResume input[type="file"] {
    /* display: none; */
    position: absolute;
    opacity: 0;
    width: 0;
}

.list-group {
    --bs-list-group-color: white;
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}

.list-group li {
    margin: 10px 0;
}

#Initiatebtn {
    border: none;
    outline: none;
    background-color: transparent;
    /* border: 2px solid #692ED0; */
    color: white;
    font-weight: 600;
}

.or1 {
    position: absolute;
    color: white;
    background-color: #121212;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
}


/* DevBot CSS */
.InterviewBot-Container {
    display: flex;
}

.score-bars-container {
    margin-top: 20px;
}

.Score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-weight: 200;
    overflow: overlay;
    height: 44rem;
    border: 1px solid lightgrey;
}

.score-name {
    color: #692ED0;
    font-size: larger;
    font-weight: 300;
}

.score-number-obtained {
    color: #692ED0;
    font-weight: 200;
    font-size: 22px;
}

.score-prompt-container {
    margin-top: 20px;
}

.score-prompt {
    outline: 1px solid lightgray;
    width: fit-content;
    height: max-content;
    min-height: 300px;
    display: grid;
    padding: 12px;
    align-content: space-between;
    border-radius: 4px;
    font-weight: 300px;
}

.score-regards h6 {
    text-align: right;
}

.progress {
    height: 6px;
}

.progress-bar {
    /* width: 50%; */
    background-color: #692ED0;
}

.score-bars-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Primary-Section {
    height: 100vh;
    padding: 50px 10px;
}

.InterviewBotDiv {
    min-height: 4rem;
    display: flex;
    margin: 15px 10px;
    word-wrap: break-word;
}

.InterviewBotIcon {
    width: 50px;
    height: 50px;
    border: 2px solid #692ED0;
    color: #692ED0;
    border-radius: 50%;
    background-color: #121212;
    font-size: 33px;
    margin: 8px 10px 8px 0px;
    position: relative;
}

.InterviewBotIcon i {
    margin: 0px 6px;
}

.InterviewBotProfile {
    width: 60px;
    height: 60px;
    display: flex;
}

.InterviewBotChat {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #692ED0;
    word-wrap: break-word;
    color: white;
}

.IntervieweeDiv {
    min-height: 4rem;
    display: flex;
    word-wrap: break-word;
    padding: 0 30px 10px 0;
}

.IntervieweeIcon {
    width: 50px;
    height: 50px;
    border: 2px solid #692ED0;
    color: #692ED0;
    border-radius: 50%;
    background-color: #121212;
    font-size: 33px;
    margin: 8px 0px 8px 10px;
    position: relative;
}

.IntervieweeIcon i {
    margin: 0px 6px;
}

.IntervieweeProfile {
    width: 60px;
    height: 60px;
    display: flex;
}

.IntervieweeChat {
    border: 3px solid #692ED0;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #121212;
    color: #692ED0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #692ED0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #037377;
}

.Score::-webkit-scrollbar {
    width: 3px;
}

.Score::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 2px;
}

.Score::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}

.Score::-webkit-scrollbar-thumb:hover {
    background: white;
}

.InputFieldDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

#InputField {
    height: 83%;
    border-radius: 30px;
    padding: 0px 17px;
    border: 1px solid lightgray;
    outline: none;
}

.stopButton01 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid white;
    font-size: 25px;
    background-color: #692ED0;
    color: white;
    margin: 0px 15px;
    position: relative;
}

.stopButton01Text {
    font-size: 14px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 6px 8px;
    width: 9rem;
    margin: -105px 0 0 -51px;
    position: absolute;
    background-color: #692ED0;
    color: white;
    visibility: hidden;
}

.stopButton01:hover .stopButton01Text {
    position: absolute;
    visibility: visible;
}

.textSend {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    padding: 6px 0px;
    border: 1px solid white;
    font-size: 25px;
    background-color: #692ED0;
    color: white;
    margin: 5px 2px 5px 5px;
}

.voiceSend {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid white;
    font-size: 25px;
    background-color: #692ED0;
    color: white;
    margin: 5px 2px 5px 5px;
}

.primary-info {
    text-align: center;
}

.info-rules {
    text-align: start;
    padding: 7px;
}

.Examples-info {
    border-radius: 10px;
    border: 1px solid white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #692ED0;
    color: white;
    /* padding: 0 5px 0 0; */
}

.Capabilities-info {
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #692ED0;
    color: white;
    padding: 15px 15px;
    margin: 0px 10px;
}

.Limits-info {
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #692ED0;
    color: white;
    padding: 15px 15px;
    display: flex;
    margin: 0px 10px;
    align-items: center;
}

.Capabilities-info p {
    margin: 0px !important;
}

.Limits-info p {
    margin: 0px !important;
}

.info {
    border-radius: 50%;
    width: 40px;
    height: 32px;
    border: 1px solid white;
    font-size: 20px;
    background-color: #692ED0;
    color: white;
    /* cursor: none; */
}

.col-md-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startbutton {
    padding: 60px 0 0 0;
}

.start {
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #692ED0;
    cursor: pointer;
}

.input-cursor {
    position: relative;
    display: inline-block;
    width: 2px;
    height: 16px;
    background-color: #692ED0;
    margin-left: 3px;
    top: 4px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

.score-group {
    margin-bottom: 20px;
}

.Score-Board-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 20px;
    height: 60px;
    font-size: 26px;
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: #692ED0;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #692ED0;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #692ED0;
    border: 2px solid;
    --bs-btn-focus-shadow-rgb: black;
    --bs-btn-active-color: #692ED0;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: #692ED0;
}

.offcanvas {
    overflow: auto;
}

#Score-Board-btn-div {
    z-index: 10000;
    margin: 10px 0px 0px 10px;
    position: absolute;
    visibility: hidden;
}

@media (max-width: 991px) {
    #Score-Board-btn-div {
        visibility: visible;
    }

    .offcanvas {
        visibility: visible;
    }
}

@media (min-width: 992px) {
    .offcanvas.show {
        visibility: hidden;
    }
}

#textArea {
    height: 95%;
    overflow: auto;
}