{% extends 'DevHireBot/base.html' %}
{% load static %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center col-9 col-md-6 border border-secondary-subtle rounded dd2 px-4 py-4 mx-auto my-5">
        <div class="fs-1 mt-1 mb-4">Register</div>
        <form action="{% url 'DevHireBot:register' %}" method="post" class="col-12">
            {% csrf_token %}
            <div class="input-d col-12 mb-4">
                <label class="mb-1 fs-5" for="id_first_name">First Name:</label>             
                {{ form.first_name }}                
            </div>
            <div class="input-d col-12 mb-4">
                <label class="mb-1 fs-5" for="id_last_name">Last Name:</label>             
                {{ form.last_name }}                
            </div>
            <div class="input-d col-12 mb-4">
                <label  class="mb-1 fs-5" for="id_username">Username:</label>
                {{ form.username }}  
                <div class="col-10 px-2 mt-2" style="font-size: 0.7em;">
                    Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                </div>              
            </div>
            <div class="input-d col-12 mb-4">
                <label class="mb-1 fs-5" for="id_email">Email address:</label>
                {{ form.email }}                
            </div>
            <div class="input-d col-12 mb-4">
                <label class="mb-1 fs-5" for="id_password1">Password:</label>
                {{ form.password1 }}                
                <div class="col-10 px-2 mt-2" style="font-size: 0.7em;">
                    <ul class="mt-2">
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>
            </div>
            <div class="input-d col-12 mb-4">
                <label class="mb-1 fs-5" for="id_password2">Password confirmation:</label>
                {{ form.password2 }}
                <div class="col-10 px-2 mt-2" style="font-size: 0.7em;">
                    Enter the same password as before, for verification.
                </div>                
            </div>
             
            <input type="submit" class="btn2 col-12 px-4 py-2 mt-4 mb-2 rounded fs-5" value="Sign Up">
            
            {% if messages %}
                {% for message in  messages%}
                <div class="dd3" style="border: none; font-size: 0.8rem;">
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            
            <div class="mt-2" style="font-size: 0.9em;">Are we acquainted? You can  <a href="{% url 'DevHireBot:login' %}"><span class="mt-4 mb-3 link1">Login here </span></a></div>
        </form>
    </div>
{% endblock body %}